extends ../layout

block content
  script.
    function deletar(id) {
      console.log(id)
    }
    
    function editar(id) {
      const modal = document.getElementById("myModal");
      modal.style.display = "block";    

      let table = document.getElementById('myTable');       
      let lenght = table.rows[0].cells.lenght;            
      let content = table.rows[id+1].cells;  

      const modelo = content[0].innerHTML;
      const marca = content[1].innerHTML;
      const valor = content[2].innerHTML;

      console.log(document.getElementById('modelo'))

      document.getElementById('id').value = id;
      document.getElementById('modelo').value = modelo;              
      document.getElementById('marca').value = marca;       
      document.getElementById('valor').value = valor;       
    }

    function closeModal() {
      const modal = document.getElementById("myModal");
      modal.style.display = "none";
    }
    
  .absolute.top-0.w-full.flex.flex-row.items-center.py-5(class="bg-[var(--Primary)]")  
    .flex.items-center.justify-center
      img.w-20.h-20.mx-5.rounded-full(src="../images/logo-color.png", alt="Logo", widht="20", height="20")
    .w-full.ml-10
      a(href="/" class="text-[var(--Accent)] font-bold mr-5 border-l border-solid border-l-[var(--Accent)] pl-5 hover:opacity-80") Início 
      a(href="/carros/new" class="text-[var(--Accent)] font-bold mr-5 border-l border-solid border-l-[var(--Accent)] pl-5 hover:opacity-80") Cadastrar veículo 
      a(href="/carros/list" class="text-[var(--Accent)] font-bold mr-5 border-l border-solid border-l-[var(--Accent)] pl-5 hover:opacity-80") Listar veículos
  .flex.w-full.px-10.absolute.top-40
    table#myTable
      thead
        tr(class="bg-[var(--Primary)]")
          th.th-title Modelo
          th.th-title Marca
          th.th-title Valor
          th.th-title A&ccedil;&otilde;es
      tbody
        each carro in carrosList        
          tr
            td= carro.modelo    
            td= carro.marca    
            td= carro.valor 
            td
              button(type="button" id=`${carro.id}` onclick=`editar(${carro.id})` class="mr-5")
                img(src="../icons/edit-2.svg", alt="Editar") 
              button(type="button" id=`${carro.id}` onclick=`deletar(${carro.id})`)   
                img(src="../icons/trash-2.svg", alt="Deletar")        
  
  #myModal.modal
    .modal-content
      span.close(onclick="closeModal()") ×

      form.w-full.max-w-xl.flex.flex-col.items-center.justify-center.p-10.mt-16(action="/carros/edit" method="POST")
        input#id.hidden(type='number' name="id")          
        .flex.flex-col.mb-6.w-full
          label(for="modelo", class="text-[var(--Secondary)] font-bold text-lg") Modelo 
          input#modelo.p-5.border-b.border-b-solid(class="border-b-[var(--Secondary)]" type='text' name='modelo' placeholder='Digite o modelo' required='')          
        .flex.flex-col.mb-6.w-full
          label(for="marca", class="text-[var(--Secondary)] font-bold text-lg") Marca 
          input#marca.p-5.border-b.border-b-solid(class="border-b-[var(--Secondary)]" type='text' name='marca' placeholder='Digite a marca' required='')
        .flex.flex-col.mb-6.w-full
          label(for="valor", class="text-[var(--Secondary)] font-bold text-lg") Valor 
          input#valor.p-5.border-b.border-b-solid(class="border-b-[var(--Secondary)]" type='text' name='valor' placeholder='Digite valor' required='')
        button.w-full.p-2.font-bold.text-center.text-lg.rounded-lg.duration-150(type='submit' class='bg-[var(--Primary)] text-[var(--Accent)] font-bold hover:opacity-70') Editar